doctype html
// saved from url=(0048)https://www.greating.co.kr/event/eventList#page1
head
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
 
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  link(rel='shortcut icon', href='https://www.greating.co.kr/front_mo/images/favicon.png')
  
  script(src='./htmlfiles/iframe_api')

  link(rel='stylesheet', href='./css/layout.css', type='text/css')
  link(rel='stylesheet', href='./css/memberJoin.css', type='text/css')
  link(rel='stylesheet', href='./css/app.css', type='text/css')
  link(rel='stylesheet', href='./css/main.css', type='text/css')
  link(rel='stylesheet', href='./css/normalize.css', type='text/css')
  link(rel='stylesheet', href='./css/common.css', type='text/css')
  link(rel='stylesheet', type='text/css', href='/css/jquery-ui.css')
  script(src='/css/main.js')
  script(src='./htmlfiles/vendor.js')
  script(src='./htmlfiles/f(1).txt')

#wrap
  header#header.hd__header
    .topBanner
      a(href='https://www.greating.co.kr/event/eventReview?evEventId=3878#page1')
        figure
          img(src='./htmlfiles/2FF579614D9B4DD6830B0C0788865BE2.jpg', alt='1')
      a.topBanner__close(href='javascript:closeTopBanner();')
        img(src='./htmlfiles/btn_topBanner-close.png', alt='닫기')
    .header
      section.user-area
        ul.user-area__menu
          // 로그인전
          li
            a(href='javascript:fnLogin();') &#xB85C;&#xADF8;&#xC778;
          li
            a(href='https://www.greating.co.kr/member/join/memberjoin') &#xD68C;&#xC6D0;&#xAC00;&#xC785;
          li
            a(href='https://www.greating.co.kr/myPage/randomCouponRegist') &#xCFE0;&#xD3F0;/&#xAD50;&#xD658;&#xAD8C;
          li
            a(href='https://www.greating.co.kr/serviceCenter/serviceCenterMain')
              | &#xACE0;&#xAC1D;&#xC13C;&#xD130;
              i
            ul
              li
                a(href='https://www.greating.co.kr/serviceCenter/notice') &#xACF5;&#xC9C0;&#xC0AC;&#xD56D;
              li
                a(href='https://www.greating.co.kr/serviceCenter/faq') &#xC790;&#xC8FC;&#xD558;&#xB294; &#xC9C8;&#xBB38;
              li
                a(href='https://www.greating.co.kr/serviceCenter/myPersonalInquery') 1:1 &#xBB38;&#xC758;
              li
                a(href='https://www.greating.co.kr/serviceCenter/qna') &#xACE0;&#xAC1D;&#xC758; &#xC18C;&#xB9AC;
      .header__inner
        .header__sec
          h1.logo
            a(href='https://www.greating.co.kr/')
              img(src='./htmlfiles/img_header_logo.png', alt='greating')
          .all
            a(href='https://www.greating.co.kr/event/eventList#')
              span.all__icon
                span
                span
                span
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#xCE74;&#xD14C;&#xACE0;&#xB9AC;
            .all-menu
              .all-menu__inner
                ul.all-menu__depth1
                  li
                    a(href='https://www.greating.co.kr/planMeals/planMeals') &#xCF00;&#xC5B4;&#xC2DD;&#xB2E8;
                    ul.all-menu__depth2
                      li
                        a(href='https://www.greating.co.kr/planMeals/planMeals') &#xC815;&#xAE30;&#xC2DD;&#xB2E8;
                        ul.all-menu__depth3
                          li
                            a(href='https://www.greating.co.kr/planMeals/careLow') &#xC800;&#xB2F9;&#xC2DD;&#xB2E8;
                          li
                            a(href='https://www.greating.co.kr/planMeals/careLight') &#xCE7C;&#xB85C;&#xB9AC;&#xC2DD;&#xB2E8;
                          li
                            a(href='https://www.greating.co.kr/planMeals/careWellness') &#xC7A5;&#xC218;&#xB9C8;&#xC744;&#xC2DD;&#xB2E8;
                          li
                            a(href='https://www.greating.co.kr/planMeals/careMyGreating') &#xB9C8;&#xC774;&#xADF8;&#xB9AC;&#xD305;
                      li
                        a(href='https://www.greating.co.kr/main/boardDetail?freeboardId=341') &#xCC4C;&#xB9B0;&#xC9C0;&#xC2DD;&#xB2E8;
                        ul.all-menu__depth3
                          li
                            a(href='https://www.greating.co.kr/market/marketDetail?itemId=102760')
                              | BEAUTY
                              | FIT
                          li
                            a(href='https://www.greating.co.kr/market/marketDetail?itemId=102771')
                              | HI
                              | FAT
                          li
                            a(href='https://www.greating.co.kr/market/marketDetail?itemId=102759')
                              | PROTEIN
                              | UP
                          li
                            a(href='https://www.greating.co.kr/market/marketDetail?itemId=114983')
                              | INNER
                              | BALANCE
                  li
                    a(href='https://www.greating.co.kr/market/marketList?ctgryId=50') &#xAC74;&#xAC15;&#xB9C8;&#xCF13;
                    ul#dvMainMenuCtgryList.all-menu__depth2
                      li#cate_slide_id_55.submenu__list
                        a.submenu__list-name(href='https://www.greating.co.kr/market/marketList?ctgryId=55')
                          i.all-menu__depth2-ico
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#xAC74;&#xAC15;&#xBC18;&#xCC2C;
                        ul.all-menu__depth3
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=656') &#xBA54;&#xC778;&#xC694;&#xB9AC;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=1878') &#xBC00;&#xD0A4;&#xD2B8;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=657') &#xBC11;&#xBC18;&#xCC2C;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=1519') &#xB098;&#xBB3C;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=2578') &#xC18C;&#xC2A4;/&#xC591;&#xB150;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=1522') &#xD0A4;&#xC988;
                      li#cate_slide_id_1058.submenu__list
                        a.submenu__list-name(href='https://www.greating.co.kr/market/marketList?ctgryId=1058')
                          i.all-menu__depth2-ico
                          | &#xC9C4;&#xD55C; &#xAD6D;/&#xCC0C;&#xAC1C;
                        ul.all-menu__depth3
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=1079') &#xAD6D;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=1078') &#xCC0C;&#xAC1C;
                      li#cate_slide_id_3058.submenu__list
                        a.submenu__list-name(href='https://www.greating.co.kr/market/marketList?ctgryId=3058')
                          i.all-menu__depth2-ico
                          | &#xC790;&#xC5F0; &#xB2F4;&#xC740; &#xBA74;
                        ul.all-menu__depth3
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=3078') &#xAD6D;&#xC218;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=3079') &#xD30C;&#xC2A4;&#xD0C0;
                      li#cate_slide_id_719.submenu__list
                        a.submenu__list-name(href='https://www.greating.co.kr/market/marketList?ctgryId=719')
                          i.all-menu__depth2-ico
                          | &#xC601;&#xC591;&#xAC00;&#xB4DD; &#xBC25;/&#xC8FD;
                        ul.all-menu__depth3
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=729') &#xBC25;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=728') &#xC8FD;
                      li#cate_slide_id_718.submenu__list
                        a.submenu__list-name(href='https://www.greating.co.kr/market/marketList?ctgryId=718')
                          i.all-menu__depth2-ico
                          | &#xC0D0;&#xB7EC;&#xB4DC;/&#xC0CC;&#xB4DC;&#xC704;&#xCE58;
                        ul.all-menu__depth3
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=2638') &#xC0D0;&#xB7EC;&#xB4DC;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=2639') &#xC0CC;&#xB4DC;&#xC704;&#xCE58;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=2678') &#xBE0C;&#xB7F0;&#xCE58;&#xBC15;&#xC2A4;
                      li#cate_slide_id_1198.submenu__list
                        a.submenu__list-name(href='https://www.greating.co.kr/market/marketList?ctgryId=1198')
                          i.all-menu__depth2-ico
                          | &#xBCA0;&#xC774;&#xCEE4;&#xB9AC;/&#xC2A4;&#xD504;
                        ul.all-menu__depth3
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=1218') &#xBE75;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=3361') &#xC2A4;&#xD504;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=1219') &#xBC84;&#xD130;/&#xCE58;&#xC988;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=1679')
                              | &#xC7BC;/&#xC2DC;&#xB7FD;
                      li#cate_slide_id_1699.submenu__list
                        a.submenu__list-name(href='https://www.greating.co.kr/market/marketList?ctgryId=1699')
                          i.all-menu__depth2-ico
                          | &#xCC29;&#xD55C; &#xAC04;&#xC2DD;/&#xC74C;&#xB8CC;
                        ul.all-menu__depth3
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=1738') &#xC2DD;&#xC0AC;&#xB300;&#xC6A9;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=1740') &#xC601;&#xC591;&#xAC04;&#xC2DD;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=2098') &#xCEE4;&#xD53C;/&#xCC28;/&#xC74C;&#xB8CC;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=3358') &#xC624;&#xB298;&#xC8FC;&#xC2A4;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=1739') &#xCE94;&#xB514;/&#xCFE0;&#xD0A4;
                      li#cate_slide_id_2598.submenu__list
                        a.submenu__list-name(href='https://www.greating.co.kr/market/marketList?ctgryId=2598')
                          i.all-menu__depth2-ico
                          | &#xC548;&#xC2EC; &#xD0A4;&#xC988;
                        ul.all-menu__depth3
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=2698') &#xAC04;&#xD3B8;&#xC2DD;/&#xAD6D;/&#xBC18;&#xCC2C;/&#xC18C;&#xC2A4;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=2599') &#xAC04;&#xC2DD;/&#xAC74;&#xAC15;&#xC2DD;&#xD488;/&#xC74C;&#xB8CC;
                      li#cate_slide_id_818.submenu__list
                        a.submenu__list-name(href='https://www.greating.co.kr/market/marketList?ctgryId=818')
                          i.all-menu__depth2-ico
                          | &#xBD80;&#xB4DC;&#xB7EC;&#xC6B4; &#xC5F0;&#xD654;&#xC2DD;
                        ul.all-menu__depth3
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=821') &#xACE0;&#xAE30;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=1538') &#xC0DD;&#xC120;
                      li#cate_slide_id_1139.submenu__list
                        a.submenu__list-name(href='https://www.greating.co.kr/market/marketList?ctgryId=1139')
                          i.all-menu__depth2-ico
                          | 1Table
                      li#cate_slide_id_2018.submenu__list
                        a.submenu__list-name(href='https://www.greating.co.kr/market/marketList?ctgryId=2018')
                          i.all-menu__depth2-ico
                          | &#xBE44;&#xAC74;
                      li#cate_slide_id_1038.submenu__list
                        a.submenu__list-name(href='https://www.greating.co.kr/market/marketList?ctgryId=1038')
                          i.all-menu__depth2-ico
                          | &#xC2A4;&#xD398;&#xC15C; &#xD328;&#xD0A4;&#xC9C0;
                      li#cate_slide_id_3279.submenu__list
                        a.submenu__list-name(href='https://www.greating.co.kr/market/marketList?ctgryId=3279')
                          i.all-menu__depth2-ico
                          | &#xBC18;&#xCC2C; &#xC815;&#xAE30;&#xAD6C;&#xB3C5;
                      li#cate_slide_id_3500.submenu__list
                        a.submenu__list-name(href='https://www.greating.co.kr/market/marketList?ctgryId=3500')
                          i.all-menu__depth2-ico
                          | &#xB77C;&#xC774;&#xD504;
                  li
                    a(href='https://www.greating.co.kr/market/brandMarketList') &#xBE0C;&#xB79C;&#xB4DC;&#xC9C1;&#xC1A1;&#xAD00;
                ul.all-menu__nav
                  li
                    a(href='https://www.greating.co.kr/newItem/newItemList') &#xC2E0;&#xC0C1;&#xD488;
                  li
                    a(href='https://www.greating.co.kr/best/bestList') &#xBCA0;&#xC2A4;&#xD2B8;
          .gnb
            ul.gnb__inner
              li.gnb__list
                a.gnb__list-name(href='https://www.greating.co.kr/planMeals/planMeals') &#xCF00;&#xC5B4;&#xC2DD;&#xB2E8;
              li.gnb__list
                a.gnb__list-name(href='https://www.greating.co.kr/market/marketList?ctgryId=50') &#xAC74;&#xAC15;&#xB9C8;&#xCF13;
              li.gnb__list
                a.gnb__list-name(href='https://www.greating.co.kr/display/displayList') &#xAE30;&#xD68D;&#xC804;
              li.gnb__list
                a.gnb__list-name(href='https://www.greating.co.kr/event/eventList') &#xC774;&#xBCA4;&#xD2B8;
              li.gnb__list
                a.gnb__list-name(href='https://www.greating.co.kr/story/storyMain') &#xC2A4;&#xD1A0;&#xB9AC;
          nav.direct
            #searchPopup.direct__search.btn__modal-open(data-login='y', data-popup-name='popup_search')
              // 2021.09.23 YSC 상품권 내리기 <input type="text" id="searchInput2" class="search-input" placeholder="그리팅 '기프트 카드' 출시!" autocomplete="off">
              input#searchInput2.search-input(type='text', placeholder='검색어를 입력해 주세요.', autocomplete='off')
              a(href='https://www.greating.co.kr/event/eventList#')
                img#dvSrhFilterBtn2(src='./htmlfiles/icon_header_search.png', alt='검색')
            a.direct__cart(href='https://www.greating.co.kr/order/orderCart')
              span#cartCnt 0
              img(src='./htmlfiles/icon_header_cart.png', alt='장바구니')
  // 검색 팝업
  .hd__popup.hd__popup-v2.popup_search
    article.hd__popup__modal.modal(style='top: 200px;')
      section.modal__sec
        strong.modal__sec__title.bb-none
          | &#xC0C1;&#xD488;&#xAC80;&#xC0C9;
          a.btn__close-x.btn__modal-close(href='https://www.greating.co.kr/event/eventList#')
            span.hidden &#xB808;&#xC774;&#xC5B4; &#xD31D;&#xC5C5; &#xB2EB;&#xAE30;
        section.input-text
          input#searchInput.search-input(type='text', placeholder='검색어를 입력해 주세요.')
          button#dvSrhFilterBtn.btn-init.green &#xAC80;&#xC0C9;
        .modal__sec__cont.scroll
          button#btnClear.btn-clear
            span.btn-img &#xCD08;&#xAE30;&#xD654;
          #dvGetFilterArea
            section.category
              h3.category__title &#xC120;&#xD638;&#xD558;&#xB294; &#xC7AC;&#xB8CC;&#xAC00; &#xC788;&#xC73C;&#xC2E0;&#xAC00;&#xC694;?
                //- each i in {1 :[
                //-   {value: 290, df:'소고기'},
                //-   {value: 291, df:'돼지고시'},
                //-   {value: 292, df:'닭고기'},
                //-   {value: 293, df:'생선'},
                //-   {value: 295, df:'해초'},
                //-   {value: 313, df:'해산물'},
                  
                //- ]
                //- }
                ul#dvFilterGrpSubTemplate1.box
                  //- li.box__list.hd__custom-label
                  //-   input#filter_#{i.no}.hidden(type='checkbox', name=`${no}_${i.1.value}`, value=${i.1.value}, data-filtername=i.1.df)
                  //-   label(for=`filter_${i.value}`) #{i.df}
              
                
              
                li.box__list.hd__custom-label
                  input#filter_290.hidden(type='checkbox', name='1_290', value='290', data-filtername='소고기')
                  label(for='filter_290') &#xC18C;&#xACE0;&#xAE30;
                li.box__list.hd__custom-label
                  input#filter_291.hidden(type='checkbox', name='1_291', value='291', data-filtername='돼지고기')
                  label(for='filter_291') &#xB3FC;&#xC9C0;&#xACE0;&#xAE30;
                li.box__list.hd__custom-label
                  input#filter_292.hidden(type='checkbox', name='1_292', value='292', data-filtername='닭고기')
                  label(for='filter_292') &#xB2ED;&#xACE0;&#xAE30;
                li.box__list.hd__custom-label
                  input#filter_293.hidden(type='checkbox', name='1_293', value='293', data-filtername='생선')
                  label(for='filter_293') &#xC0DD;&#xC120;
                li.box__list.hd__custom-label
                  input#filter_295.hidden(type='checkbox', name='1_295', value='295', data-filtername='해초')
                  label(for='filter_295') &#xD574;&#xCD08;
                li.box__list.hd__custom-label
                  input#filter_313.hidden(type='checkbox', name='1_313', value='313', data-filtername='해산물')
                  label(for='filter_313') &#xD574;&#xC0B0;&#xBB3C;
                li.box__list.hd__custom-label
                  input#filter_314.hidden(type='checkbox', name='1_314', value='314', data-filtername='콩')
                  label(for='filter_314') &#xCF69;
                li.box__list.hd__custom-label
                  input#filter_315.hidden(type='checkbox', name='1_315', value='315', data-filtername='두부')
                  label(for='filter_315') &#xB450;&#xBD80;
                li.box__list.hd__custom-label
                  input#filter_316.hidden(type='checkbox', name='1_316', value='316', data-filtername='나물')
                  label(for='filter_316') &#xB098;&#xBB3C;
                li.box__list.hd__custom-label
                  input#filter_317.hidden(type='checkbox', name='1_317', value='317', data-filtername='아보카도')
                  label(for='filter_317') &#xC544;&#xBCF4;&#xCE74;&#xB3C4;
            section.category
              h3.category__title &#xC5B4;&#xB5A4; &#xC694;&#xB9AC;&#xB97C; &#xC88B;&#xC544;&#xD558;&#xC138;&#xC694;?
              ul#dvFilterGrpSubTemplate2.box
                li.box__list.hd__custom-label
                  input#filter_271.hidden(type='checkbox', name='2_271', value='271', data-filtername='전/튀김')
                  label(for='filter_271') &#xC804;/&#xD280;&#xAE40;
                li.box__list.hd__custom-label
                  input#filter_272.hidden(type='checkbox', name='2_272', value='272', data-filtername='조림/찜')
                  label(for='filter_272') &#xC870;&#xB9BC;/&#xCC1C;
                li.box__list.hd__custom-label
                  input#filter_273.hidden(type='checkbox', name='2_273', value='273', data-filtername='볶음')
                  label(for='filter_273') &#xBCF6;&#xC74C;
                li.box__list.hd__custom-label
                  input#filter_274.hidden(type='checkbox', name='2_274', value='274', data-filtername='나물숙채')
                  label(for='filter_274') &#xB098;&#xBB3C;&#xC219;&#xCC44;
                li.box__list.hd__custom-label
                  input#filter_275.hidden(type='checkbox', name='2_275', value='275', data-filtername='무침/생채')
                  label(for='filter_275') &#xBB34;&#xCE68;/&#xC0DD;&#xCC44;
                li.box__list.hd__custom-label
                  input#filter_276.hidden(type='checkbox', name='2_276', value='276', data-filtername='절임')
                  label(for='filter_276') &#xC808;&#xC784;
                li.box__list.hd__custom-label
                  input#filter_370.hidden(type='checkbox', name='2_370', value='370', data-filtername='식사대용')
                  label(for='filter_370') &#xC2DD;&#xC0AC;&#xB300;&#xC6A9;
                li.box__list.hd__custom-label
                  input#filter_270.hidden(type='checkbox', name='2_270', value='270', data-filtername='구이')
                  label(for='filter_270') &#xAD6C;&#xC774;
                li.box__list.hd__custom-label
                  input#filter_330.hidden(type='checkbox', name='2_330', value='330', data-filtername='죽')
                  label(for='filter_330') &#xC8FD;
                li.box__list.hd__custom-label
                  input#filter_331.hidden(type='checkbox', name='2_331', value='331', data-filtername='스프')
                  label(for='filter_331') &#xC2A4;&#xD504;
                li.box__list.hd__custom-label
                  input#filter_332.hidden(type='checkbox', name='2_332', value='332', data-filtername='면요리')
                  label(for='filter_332') &#xBA74;&#xC694;&#xB9AC;
                li.box__list.hd__custom-label
                  input#filter_333.hidden(type='checkbox', name='2_333', value='333', data-filtername='국물요리')
                  label(for='filter_333') &#xAD6D;&#xBB3C;&#xC694;&#xB9AC;
                li.box__list.hd__custom-label
                  input#filter_334.hidden(type='checkbox', name='2_334', value='334', data-filtername='일품요리')
                  label(for='filter_334') &#xC77C;&#xD488;&#xC694;&#xB9AC;
                li.box__list.hd__custom-label
                  input#filter_350.hidden(type='checkbox', name='2_350', value='350', data-filtername='샐러드')
                  label(for='filter_350') &#xC0D0;&#xB7EC;&#xB4DC;
                li.box__list.hd__custom-label
                  input#filter_390.hidden(type='checkbox', name='2_390', value='390', data-filtername='브런치 ')
                  label(for='filter_390') &#xBE0C;&#xB7F0;&#xCE58; 
                li.box__list.hd__custom-label
                  input#filter_410.hidden(type='checkbox', name='2_410', value='410', data-filtername='건강간식')
                  label(for='filter_410') &#xAC74;&#xAC15;&#xAC04;&#xC2DD;
            section.category
              h3.category__title &#xBE7C;&#xACE0; &#xC2F6;&#xC740; &#xC7AC;&#xB8CC;&#xAC00; &#xC788;&#xC73C;&#xC2E0;&#xAC00;&#xC694;?
              ul#dvFilterGrpSubTemplate3.box
                li.box__list.hd__custom-label
                  input#filter_251.hidden(type='checkbox', name='3_251', value='251', data-filtername='대두')
                  label(for='filter_251') &#xB300;&#xB450;
                li.box__list.hd__custom-label
                  input#filter_252.hidden(type='checkbox', name='3_252', value='252', data-filtername='땅콩')
                  label(for='filter_252') &#xB545;&#xCF69;
                li.box__list.hd__custom-label
                  input#filter_253.hidden(type='checkbox', name='3_253', value='253', data-filtername='호두')
                  label(for='filter_253') &#xD638;&#xB450;
                li.box__list.hd__custom-label
                  input#filter_254.hidden(type='checkbox', name='3_254', value='254', data-filtername='잣')
                  label(for='filter_254') &#xC7A3;
                li.box__list.hd__custom-label
                  input#filter_255.hidden(type='checkbox', name='3_255', value='255', data-filtername='밀')
                  label(for='filter_255') &#xBC00;
                li.box__list.hd__custom-label
                  input#filter_256.hidden(type='checkbox', name='3_256', value='256', data-filtername='메밀')
                  label(for='filter_256') &#xBA54;&#xBC00;
                li.box__list.hd__custom-label
                  input#filter_257.hidden(type='checkbox', name='3_257', value='257', data-filtername='우유')
                  label(for='filter_257') &#xC6B0;&#xC720;
                li.box__list.hd__custom-label
                  input#filter_258.hidden(type='checkbox', name='3_258', value='258', data-filtername='복숭아')
                  label(for='filter_258') &#xBCF5;&#xC22D;&#xC544;
                li.box__list.hd__custom-label
                  input#filter_259.hidden(type='checkbox', name='3_259', value='259', data-filtername='토마토')
                  label(for='filter_259') &#xD1A0;&#xB9C8;&#xD1A0;
                li.box__list.hd__custom-label
                  input#filter_260.hidden(type='checkbox', name='3_260', value='260', data-filtername='고등어')
                  label(for='filter_260') &#xACE0;&#xB4F1;&#xC5B4;
                li.box__list.hd__custom-label
                  input#filter_261.hidden(type='checkbox', name='3_261', value='261', data-filtername='오징어')
                  label(for='filter_261') &#xC624;&#xC9D5;&#xC5B4;
                li.box__list.hd__custom-label
                  input#filter_262.hidden(type='checkbox', name='3_262', value='262', data-filtername='알류')
                  label(for='filter_262') &#xC54C;&#xB958;
                li.box__list.hd__custom-label
                  input#filter_263.hidden(type='checkbox', name='3_263', value='263', data-filtername='새우')
                  label(for='filter_263') &#xC0C8;&#xC6B0;
                li.box__list.hd__custom-label
                  input#filter_264.hidden(type='checkbox', name='3_264', value='264', data-filtername='게')
                  label(for='filter_264') &#xAC8C;
                li.box__list.hd__custom-label
                  input#filter_265.hidden(type='checkbox', name='3_265', value='265', data-filtername='조개류')
                  label(for='filter_265') &#xC870;&#xAC1C;&#xB958;
                li.box__list.hd__custom-label
                  input#filter_266.hidden(type='checkbox', name='3_266', value='266', data-filtername='소고기')
                  label(for='filter_266') &#xC18C;&#xACE0;&#xAE30;
                li.box__list.hd__custom-label
                  input#filter_267.hidden(type='checkbox', name='3_267', value='267', data-filtername='돼지고기')
                  label(for='filter_267') &#xB3FC;&#xC9C0;&#xACE0;&#xAE30;
                li.box__list.hd__custom-label
                  input#filter_268.hidden(type='checkbox', name='3_268', value='268', data-filtername='닭고기')
                  label(for='filter_268') &#xB2ED;&#xACE0;&#xAE30;
            section.category
              h3.category__title &#xC120;&#xD638;&#xD558;&#xB294; &#xBCF4;&#xAD00;&#xBC29;&#xBC95;&#xC774; &#xC788;&#xC73C;&#xC2E0;&#xAC00;&#xC694;?
              ul#dvFilterGrpSubTemplate4.box
                li.box__list.hd__custom-label
                  input#filter_430.hidden(type='checkbox', name='4_430', value='430', data-filtername='냉장')
                  label(for='filter_430') &#xB0C9;&#xC7A5;
                li.box__list.hd__custom-label
                  input#filter_431.hidden(type='checkbox', name='4_431', value='431', data-filtername='냉동')
                  label(for='filter_431') &#xB0C9;&#xB3D9;
          .btn
            button#btnClear.btn-init.white
              span.btn-img &#xCD08;&#xAE30;&#xD654;
            button#dvSrhFilterSelectBtn.btn-init.green &#xC120;&#xD0DD;&#xC644;&#xB8CC;
  main#contents.hd__eventList
    ul.breadcrumb
      each val in ['HOME', '이벤트', '진행중 이벤트']
        li=val

// 개발팀 공통 js include 시작
script(src='./htmlfiles/library.js')
script(src='./htmlfiles/7HPSEX5C.js')
script(src='./htmlfiles/fflow.ui.js')
// <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
script(src='./htmlfiles/postcode.v2.js')
script(type='text/javascript', id='').
  !function (b, e, f, g, a, c, d) { b.fbq || (a = b.fbq = function () { a.callMethod ? a.callMethod.apply(a, arguments) : a.queue.push(arguments) }, b._fbq || (b._fbq = a), a.push = a, a.loaded = !0, a.version = "2.0", a.queue = [], c = e.createElement(f), c.async = !0, c.src = g, d = e.getElementsByTagName(f)[0], d.parentNode.insertBefore(c, d)) }(window, document, "script", "https://connect.facebook.net/en_US/fbevents.js"); fbq("init", "2578943225758307"); fbq("track", "PageView");
noscript
  img(height='1', width='1', style='display:none', src='https://www.facebook.com/tr?id=2578943225758307&ev=PageView&noscript=1')
script(type='text/javascript', id='', charset='UTF-8', src='./htmlfiles/kp.js')
script(charset='UTF-8', type='text/javascript', src='./htmlfiles/211103.js')
script(src='./htmlfiles/controller.js')
script(src='./htmlfiles/cmContollerUI.js')
script(src='./htmlfiles/cmHandlebars.js')
// 공통 Handlebars
//- --------/login/login으로 자동으로 넘어감-------
//- script(src='./js/header.js') 
//- script(src='./htmlfiles/pageController.js')
//- script(src='./htmlfiles/searchController.js')
//- ----------------------------------------------
// 개발팀 공통 js include 끝
// 개발 담당자 js include 시작
script(src='./htmlfiles/eventListController.js')
// 개발 담당자 js include 끝
.progress(style='display: none;')
  img(src='./htmlfiles/progress.gif', alt='')
